<template>
  <div class="welcome">
    <p class="welcome-message">{{ welcomeMsg }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
  welcomeMsg = 'Welcome to Playlister';
  data(): { msg: string } {
    return { msg: this.welcomeMsg };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
