<template>
  <div id="app">
    <div id="content">
      <router-view />
    </div>
  </div>
</template>

<style>
#content {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}
</style>
